<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bookings</title>
	<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>
	<div class="container">
		<button><a href="/users/login">Sign Out</a></button>
		<button><a href="/users/findWalkers">Find walkers</a></button>
		<h2>Current Bookings</h2>
		
		<!-- Loop through bookings and display them -->
		<div class="row">
			<% bookings.forEach((booking) => { %>
				<div class="c">
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">Booking ID: <%= booking._id %></h5>
							<p class="card-text"><strong>Walker Name:</strong> <%= booking.walker.name %></p>
							<p class="card-text"><strong>Walker Address:</strong> <%= booking.walker.address %></p>
							<p class="card-text"><strong>From Time:</strong> <%= booking.from %></p>
							<p class="card-text"><strong>To Time:</strong> <%= booking.to %></p>
							<p class="card-text"><strong>Booked by:</strong> <%= booking.owner.name %></p>
							<p class="card-text"><strong>Dog Owner Address:</strong> <%= booking.owner.address %></p>
							<!-- Additional booking details can be added here -->
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</body>
</html>
